<?xml version="1.0"?>
<launch>
  <env name="PYTHONPATH"
       value="$(find mushr_gazebo)/../../devel/lib/python3.6/site-packages:$(optenv PYTHONPATH)"/>
  <env name="GAZEBO_PLUGIN_PATH"
       value="$(find mushr_gazebo)/../../devel/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>

  <param name="/use_sim_time" value="true"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pedsim_gazebo_plugin)/worlds/eng_hall.world"/>
  </include>
	
  <!-- <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen">
   </node> -->

  <!-- pedsim_simulator publishes /pedsim_simulator/simulated_agents, which
       spawn_pedsim_agents.py listens on to spawn the people in gazebo.
       Without it, no agents ever appear. -->
  <!-- <include file="$(find pedsim_simulator)/launch/simulator.launch">
    <arg name="scene_file" value="$(find pedsim_simulator)/scenarios/eng_hall.xml"/>
    <arg name="with_robot" value="false"/>
    <arg name="update_rate" value="55.0"/>
    <arg name="simulation_factor" value="1.0"/>
  </include> -->

	<param name="robot_description" command="cat $(find mushr_description)/urdf/racecar.urdf"/>


  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -param robot_description -model mushr -x 3 -y 3 -z 0"
      output="screen" respawn="false"
      launch-prefix="bash -c 'sleep 3; $0 $@'"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher"
      type="joint_state_publisher" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher" output="screen"
      launch-prefix="bash -c 'sleep 1; $0 $@'"/>

 <node name="rviz" pkg="rviz" type="rviz"
	args="-d $(find mushr_gazebo)/rviz/mushr.rviz" output="screen"
	launch-prefix="bash -c 'sleep 4; $0 $@'"/> 
  <node pkg="mushr_gazebo" type="lidar_conversion" name="lidar_conversion" output="screen"/>

  <!-- Publishes tf map -> base_footprint from gazebo ground truth, giving the
       tf tree a "map" frame. Required by mapping_node's lookupTransform("map", "laser"). -->
  <node pkg="mushr_gazebo" type="ground_truth.py" name="ground_truth" output="screen"/>

  <node name="gamecontroller_teleop" pkg="mushr_gazebo" type="gazebo_gamecontroller_teleop" output="screen"/>

  <node pkg="mushr_gazebo" type="mapping_node" name="mapping_node" output="screen"/>
  <node pkg="mushr_gazebo" type="snapshot_node" name="snapshot_node" output="screen" />
  <param name="/use_sim_time" value="true"/>
</launch>